body{
    font-family: sans-serif;
    background-color: ghostwhite;
}

.center{
    display: flex;
    justify-content: center;
}

.centerVert{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headers{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menuButton{
    padding: 20px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

#main-grid{
    display: grid;
    grid-template-columns: repeat(20, 50px);
    grid-template-rows: repeat(20, 50px);
    border: black solid 1px;
}

.main-display{
    display: grid;
    grid-template-columns: 200px auto;
}

.nav-menu, .buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.nav-menu{
    padding-left: 15px;
}

.node-unit{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.node-track{
    background-image: url("/images/track.PNG");
}
.node-grass{
    background-image: url("/images/grass.JPG");
}
.node-water{
    background-image: url("/images/water.JPG");
}

.hidden{
    display: none
}